.comment-item
	.bare-comment
		if date
			p.comment-date= date
		if username
			p.comment-username= username
		if comment
			p.comment-content= comment
		button.comment-delete X
		button.comment-edit Edit
	.editor
		textarea.edit-input(name='comments-area')= comment
		button.comment-submit(id=id) Submit
		button.comment-cancel Cancel