extends layout/main

append head
    link(rel="stylesheet", href="/static/css/news-article.css")
    title #{news.webTitle} | The News That Get You Sober
append main
    if news
        .container
            .row
                h1.article-title= news.fields.headline
                .col-md-8.col-md-offset-2
                if news.fields.thumbnail
                    .img-container
                        img.article-img(src=news.fields.thumbnail, alt="News Image")
                else
                    .img-container  
                        img.article-img(src='./../static/imgs/defaultArticle.png' alt="News Image")
                p.article-text!= news.fields.bodyText
                if user
                    .comment-input-container
                        textarea.comment-input(name='comments-area', placeholder='Leave a comment')
                        button.comment-button.btn.btn-default Comment
                else
                    .comment-input-container
                        textarea.comment-input(name='comments-area', placeholder='Please register or login to comment')
                        a.btn.btn-default(href="/login") Login
                .comments-container(articleID=news._id)
                    if news.comments
                        each val in news.comments
                            .comment-item
                                .bare-comment
                                    p.comment-username= val.username
                                    p.comment-date= val.date
                                    p.comment-content= val.comment
                                    if user
                                        if val.username == user.username
                                            button.comment-edit.btn.btn-default Edit
                                            button.comment-delete.btn.btn-default X
                                .editor
                                    textarea.edit-input(name='comments-area')= val.comment
                                    button.comment-submit.btn.btn-default(id=val.id) Submit
                                    button.comment-cancel.btn.btn-default Cancel
append scripts
    script(src='./../static/scripts/comments.js')


