extends layout/main

append head
    link(rel="stylesheet", href="/static/css/news-article.css")
    title #{news.webTitle} | The News That Get You Sober
append main
    if news
        .container
            .row
                h1= news.fields.headline
                .col-md-8.col-md-offset-2
                if news.fields.thumbnail
                    img.newsItemImg(src=news.fields.thumbnail, alt="News Image")
                else
                    img.newsItemImg(src='./../static/imgs/defaultArticle.png' alt="News Image")
                p!= news.fields.bodyText
                if user
                    textarea.comment-input(name='comments-area', placeholder='Leave a comment')
                    button.comment-button Comment
                else
                    textarea.comment-input(name='comments-area', placeholder='Please register or login to comment')
                    a(href="/login") Click here to login
                .comments-container(articleID=news._id)
                    if news.comments
                        each val in news.comments
                            .comment-item
                                p.comment-content= val.date
                                p.comment-username= val.username
                                p.comment-content= val.comment
                                if user
                                    if val.username == user.username
                                        button.comment-delete X
                                        button.comment-edit Edit
append scripts
    script(src='./../static/scripts/comments.js')


